body {
	text-align: center;
	margin: 0 auto;
	background-color: #ababab;
}

div#top-links {
	background-color: #445566;
	color: white;
	padding: 0;
	text-align: center;
}

#top-links a {
	color: white;
}

ul.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.nav li {
	display: inline-block;
	margin: 2px 5px 4px 5px;
}

div#farmlist {
	background-color: red;
}

div#charts {
	margin: 0 10px 0 10px;
}

div.chart {
	display: inline-block;
	width: 100%;
	height: 42%;
	margin-top: 2px;
}
