body {
	text-align: center;
	margin: 0 auto;
	background-color: #ababab;
}

div#top-links {
	background-color: #445566;
	color: white;
	padding: 0;
	text-align: center;
}

#top-links a {
	color: white;
}

ul.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.nav li {
	display: inline-block;
	margin: 2px 5px 4px 5px;
}

div#farmlist {
	background-color: red;
}

div#charts {
	margin: 0;
}

div.chart_box {
	display: block;
	width: 100%;
}

div.chart {
	border: 1px solid black;
	height: 28%;
	margin: 1px 20px 1px 2px;
}