body {
	text-align: center;
	margin: 0 auto;
	background-color: #ababab;
}

div#top-links {
	background-color: #445566;
	color: white;
	padding: 1px;
}

#top-links a {
	color: white;
}

ul.nav {
	list-style-type: none;
	margin: 0;
	padding: 10px;
}

ul.nav li {
	display: inline;
	margin: 5px 5px 5px 5px;
}

div#farmlist {
	background-color: red;
}

div#charts {
}

div.chart {
	display: inline-block;
	border: 1px solid black;
	width: 49%;
	height: 47%;
	margin-top: 1px;
}
