{% load staticfiles %}
{% load batch_monitor %}
<!doctype html>
<html>
<head>
<title>Batch farm online monitor: {{ farm.name }}</title>
<!-- <meta http-equiv="refresh" content="5" > -->
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="{% static 'batch_monitor/style.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'batch_monitor/mobile.css' %}" media="only screen and (max-width: 700px), only screen and (max-device-width: 700px)" />

<script type="text/javascript" src="{% static 'batch_monitor/functions.js' %}"></script>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

{{ charts|show_charts:"container_tj,container_rj,container_fs,container_jp,container_jct" }}

</head>

<body>

<div id="top-links"><ul class="nav">
<li><a href="{% url 'batch_monitor:index' %}">Go back</a></li>
|
<li>Monitoring farm <emph>{{ farm.name }}</emph></li>
|
<li><a href="mailto:rafal.lalik@ph.tum.de?subject=FarmMonitor:">Report problem</a></li>
</ul>
</div>

<div id="charts">
<div class="chart_box">
<div id='container_tj' class="chart"> Chart will be rendered here </div>
</div>

<div class="chart_box">
<div id='container_rj' class="chart"> Chart will be rendered here </div>
</div>

<div class="chart_box">
<div id='container_fs' class="chart"> Chart will be rendered here </div>
</div>

<div class="chart_half_box">
<div id='container_jct' class="chart"> Chart will be rendered here </div>
</div>

<div class="chart_half_box">
<div id='container_jp' class="chart jobrace"> Chart will be rendered here </div>
<!--
<div id='container_qj' class="chart pie"> Chart will be rendered here </div> 

<div id='container_hj' class="chart pie"> Chart will be rendered here </div> -->
</div>


</div>

</body>
</html>