body {
	text-align: center;
	margin: 0 auto;
/* 	background-color: #ababab; */
	padding: 0;
/* 	margin: 0; */
	padding: 0;
	width: 100%;
}

div#top-links {
	background-color: #445566;
	color: white;
	padding: 1px;
}

#top-links a {
	color: white;
}

ul.nav {
	list-style-type: none;
	margin: 0;
	padding: 10px;
}

ul.nav li {
	display: inline;
	margin: 5px 5px 5px 5px;
}

div#farmlist {
	background-color: red;
}

.charts {
/* 	width: 100%; */
/* 	margin: 3em 0; */
/*     padding: 7.5em 0 5.5em; */
/*     background: #004756; */
/* 	border: 1px solid blue; */
}

.gridster {
	width: auto;
	height: auto;
	margin: 0 auto;
	border: 1px solid green;
/* 	background: #004756; */

	position:fixed !important;
	position:absolute;
	top: 45px;
	right: 5px;
	bottom: 5px;
	left: 5px;
}

.gridster ul, .gridster ol {
	width: auto;
	height: 100%;
	list-style: none;
	margin: 0;
	padding: 20px;
}

.gridster li {
/* 	background: #004756; */
/* 	width: 25%; */
	padding: 0;
	margin: 0;
/* 	border: 1px dotted black; */
}

.gridster .gs-w {
    background: #FFF;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.gridster .preview-holder {
	border: none!important;
	background: red!important;
}

div.chart {
/* 	border: 1px solid black; */
	width: 100%;
	height: 100%;
/* 	margin-bottom: 20px; */
	position: absolute;
	top: 0px;

}

.highcharts-container{
	width:100% !important;
	height:100% !important;
}

.gridster header {
	position: absolute;
	top: 0px;
	width: 10px;
	height: 5px;
	background: #123456;
	color: blue;
	font-size: 5px;
	text-align: center;
	height: 10px;
	z-index: 99;
	cursor: move;
}